<%- include("partials/header.ejs"); -%>

    <div class="about">
        <h2 class="about-header">About Daily Journal</h2>
        <p class="about-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates earum beatae a
            ullam voluptate hic itaque cumque. Dolor laborum aliquam, aspernatur nesciunt quaerat soluta dicta ab qui
            dolore expedita odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque adipisci deserunt
            vel expedita magni voluptate facilis, sed placeat culpa quaerat aliquam iusto dolore illo nulla dolores vero
            qui ea eos.</p>
        <a href="/"><button type="button" class="btn btn-primary" id="about-button">Go to Journal</button></a>
        <a href="/write"><button type="button" class="btn btn-primary write-button" id="about-button">Write</button></a>

    </div>

    <%- include("partials/footer.ejs"); -%>